<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Amazonas - A brazilian Amazon clone</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">amazonas</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sing In</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="images/d1.jpg"
                  alt="product 1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">R$ 60</div>
                <div class="product-rating">4.5 starts (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="images/d1.jpg"
                  alt="product 1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">R$ 60</div>
                <div class="product-rating">4.5 starts (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="images/d1.jpg"
                  alt="product 1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">R$ 60</div>
                <div class="product-rating">4.5 starts (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="images/d1.jpg"
                  alt="product 1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">R$ 60</div>
                <div class="product-rating">4.5 starts (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="images/d1.jpg"
                  alt="product 1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">R$ 60</div>
                <div class="product-rating">4.5 starts (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="images/d1.jpg"
                  alt="product 1"
                />
                <div class="product-name">
                  <a href="product.html">Slim Shirt</a>
                </div>
                <div class="product-brand">Nike</div>
                <div class="price">R$ 60</div>
                <div class="product-rating">4.5 starts (10 reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        Molinero 2020 - All right reserved
      </footer>
    </div>
  </body>
</html>
